#container{
    display: grid;
    grid-template-areas: 'header header'
                        'sidebar photos'  
                        'pie pie'                                   ;
}

header{
    /* background-color: aqua; */
    grid-area: header;

}   
#sidebar{
    /* background-color: brown; */
    grid-area: sidebar;

}

#photo-container{
    /* background-color: blueviolet; */
    grid-area: photos;

}

#pie { 
    /* background-color: rgb(181, 181, 41); */
    grid-area: pie;
    background-color: white;
    border-top: 2px solid #ccc;
    padding: 5px 0;
    text-align: center;

}
@media only screen and (max-with:600px)
{
    #container {
        display: grid;
        grid-template-areas:'header '
                            'sidebar '
                            'photos '
                            'pie ';
    }
}
@media only screen and (min-with:600px)
{
    #container {
        display: grid;
        grid-template-areas: 'header '
                            'sidebar '
                            'photos '
                            'pie ';
    }
}

@media only screen and (min-with:768px)
{
    #container {
        display: grid;
        grid-template-areas:'header header'
                            'sidebar photos'
                            'pie pie';
    }
}