h1{ font-size:  4em;
}
h2{ font-size: 2em;
}
h3{
    font-size: 1.5em;
    margin-bottom: 1%;
}
h4{
    margin-top: 5%;
}
.contenedor-foto {
width: 230px;
height: 230px;
border-radius: 40%;
overflow: hidden;
display: inline-block;
vertical-align: middle;
border: 5px solid black;
margin: 8px;
}

.contenedor-foto img {
    width: 100%;
    height: 100%;
    display: block; 
}

.nombre { 
    display: inline-block;
    vertical-align: middle;
    margin-left: 5%; }
