.carousel-item {
    background-size: auto;
}

.photo-container-urbano {
    display: flex; 
    padding-bottom: 20px;
    margin-left: 300px;
    max-width: 100%;
    overflow: hidden;

}

.carousel-inner {
    width: 100%;
}

.carousel-item img {
    width: 50%;
    height: auto;
}



@media (min-width: 321px) and (max-width: 480px) {
    .carousel-item img {
        height: 200px; 
        object-fit: cover;
    }
    
    .photo-container-urbano {
        margin-left: 0;
    }
}


