.carousel-item {
    background-size: auto;
}

.photo-container-urbano {
    display: flex; 
    padding-bottom: 20px;
    margin-left: 300px;
    max-width: 100%;
    overflow: hidden;

}

.carousel-inner {
    width: 100%;
}

.carousel-item img {
    width: 50%;
    height: auto;
}



