.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f4f4f4;
    padding: 20px;
}

.form {
    background: rgba(8, 8, 8, 0.09);
    width: 100%;
    max-width: 450px;
    padding: 20px;
    border-radius: 10px;
}

.form-header {
    text-align: center;
    margin-bottom: 15px;
}

.form-title {
    font-weight: normal;
    color: #3567dbc1;
}

.form-title span {
    color: #0c0c0c;
}

.label {
    display: block;
    color: #0a1ded;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}


.form-input,
.form-textarea {
    width: 100%;
    background: rgba(137, 132, 165, 0.511);
    border: none;
    outline: none;
    border-bottom: 3px solid #0a1ded;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 14px;
    color: #0c0c0c;
}


.form-textarea {
    resize: none;
    height: 100px;
}


.button-container {
    display: flex;
    justify-content: flex-end;
}

.btn {
    background-color: #3567db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #254ea1;
}

/* Media Queries */
@media (max-width: 720px) {
    .form {
        width: 90%;
        padding: 15px;
    }

    .label {
        font-size: 13px;
    }

    .form-input,
    .form-textarea {
        font-size: 13px;
    }
}

@media (max-width: 540px) {
    .form {
        width: 95%;
    }

    .label {
        font-size: 12px;
    }
}

@media (max-width: 360px) {
    .form {
        width: 100%;
        padding: 10px;
    }

    .label {
        font-size: 10px;
    }

    .btn {
        width: 100%;
        text-align: center;
    }
}
