.contenedor-foto1 {
    display: inline-block;
    
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10%;
    overflow: hidden;
    gap: 20px;
    vertical-align: middle;
    margin: 20px;
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 400px;
}

h2 {
    text-align: left;
    font-size: 2em;
}

@media only screen and (max-width: 320px) {
    .contenedor-foto1 {
        max-width: 250px;
        height: 167px; 
        margin-left: 10px;
    }

    h2 {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
    .contenedor-foto1 {
        max-width: 300px;
        height: 200px; 
        margin-left: 10px;
    }

    h2 {
        font-size: 1.75em;
    }
}

@media only screen and (min-width: 481px) and (max-width: 720px) {
    .contenedor-foto1 {
        max-width: 400px;
        height: 267px; 
        margin-left: 10px;
    }

    h2 {
        font-size: 2em;
    }
}

@media only screen and (min-width: 721px) and (max-width: 980px) {
    .contenedor-foto1 {
        max-width: 500px;
        height: 333px; 
    }

    h2 {
        font-size: 2.25em;
    }
}

@media only screen and (min-width: 981px) and (max-width: 1200px) {
    .contenedor-foto1 {
        max-width: 550px;
        height: 367px; 
    }

    h2 {
        font-size: 2.5em;
    }
}

@media only screen and (min-width: 1201px) {
    .contenedor-foto1 {
        max-width: 800px;
        height: 400px; 
    }

    h2 {
        font-size: 2.75em;
    }
}

