#wsp:hover {
    transform: scale(1.2);
}
#inst:hover {
    transform: scale(1.2);
}
#x:hover {
    transform: scale(1.2);
}

@media (max-width: 640px) {
    #wsp:hover,
    #inst:hover,
    #x:hover {
        transform: scale(1);
    }
}


@media (max-width: 640px) {
    #wsp:hover,
    #inst:hover,
    #x:hover {
        transform: scale(1);
    }
}
